@font-face {
    font-family: "Fraunces";
    src: url(../fonts/Fraunces_72pt-Regular.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter_18pt-Regular.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

.body {
    max-width: 1440px;
    background: #F7F9FA;
}

.header {
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
    margin: 80px 155px 0px;
}

.header__head {
    font: 400 42px/50.4px "Fraunces", sans-serif;
    letter-spacing: 0.2px;
}

.header__link {
    font: 400 17px/27px "Inter", sans-serif;
    color: #0070A0;
    margin: 14.64px 32px 0 0;
}

.content_wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1130px;
    gap: 32px;
    margin: 50px 0 0 155px;
}

.content-card {
    max-width: 355px;
    background: #ffffff;
}

.content-card__link {
    font: 400 12px/16px "Inter", sans-serif;
    color: #2c90c9;
    display: inline-block;
    padding: 2px 18px 4px 19px;
    background: #e6f7ff;
    margin-top: 27.02px;
    margin-left: 24px;
}

.content-card__head {
    font: 400 25px/31.25px "Fraunces", sans-serif;
    margin: 11px 24px 0 24px;
}

.content-card__text {
    font: 400 14px/19.6px "Inter", sans-serif;
    margin: 11px 25px 0 24px;
    color: #1f1f1f;
}

.content-card__data {
    font: 400 12px/19.6px "Inter", sans-serif;
    display: inline-block;
    margin: 11px 24px 0 24px;
}